@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link href='/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href="~/lib/fullcalendar/timegrid/main.min.css" rel="stylesheet" />
    <link href="/lib/fullcalendar/bootstrap/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
}


<div id="calendar"></div>




@section Scripts{
    <script src="~/lib/fullcalendar/core/main.js"></script>
    <script src='/lib/fullcalendar/daygrid/main.js'></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.js"></script>
    <script src="/lib/fullcalendar/core/locales/tr.js"></script> <!--TÜRKÇE DİL PAKETİ-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'timeGrid', 'bootstrap'],
                themeSystem: 'bootstrap',
                bootstrapFontAwesome: {
                    dayGridMonth: 'calendar', // dayGridMonth isim değilde takvim iconu olarak görünecek fontawesome class'ı yazdık buraya
                    prev: 'fa-chevron-circle-left',
                    next: 'fa-chevron-circle-right'
                },
                locale: 'tr', //TÜRKÇE DİL DESTEĞİ
                header: {
                    left: 'prev, next, today, getDate', //solda ileri ve geri olsun
                    center: 'title', //başlık ortada olsun
                    right: 'dayGridMonth, timeGridWeek, timeGridDay, timeGridForFourDay' //sağda ay olsun //timeGridForFourDay ile kendimiz kısıtlama oluşturduk 4 gün
                },
               footer: {
                    left: 'prevYear', //solda ileri ve geri olsun
                    // center: 'title', //başlık ortada olsun
                    right: 'nextYear' //sağda ay olsun //timeGridForFourDay ile kendimiz kısıtlama oluşturduk 4 gün
                },   
               /******== SAAT AYARLARI ==********/
                //  slotDuration: '00:15:00', //takvimdeki saat aralıklarını burada belirliyoruz ***
               //   slotLabelInterval: '00:15:00', // kaç dakika aralıklarla satırlarda saat bilgisi yazsın
                //  slotLabelFormat: { // tam saatleride 6:00 6:30 gibi göster dedik default olarak sadece 6 diyodu
               //     hour: '2-digit',
               //     minute: '2-digit'
                   // meridiem: 'short' dil en olduğunda saatleri 06:00am gibi göstermeye yarıyor
               // },
                handleWindowResize: true,
                windowResizeDelay: 1000, //ekran küçüldükten ne kadar sonra takvim ekrana göre boyutlansın default olarak 100
                windowResize: function (view) {
                    alert('Takvim Yeniden Boyutlandırıldı');
                },
                //Height: 450,
                //contentHeight: 650, //takvimin içerik yüksekliği 650px olsun dedik
                //aspectRatio: 5, //satır sütun boyutlandırma her bir karede diyebiliriz
                defaultView: 'dayGridMonth', //takvim default olarak aylık görüntü şekilde gelsin 
                // weekends: false //takvim haftasonu günleri göstermesin dedik
                weekends: true, //haftasonu gizle/göster 
                allDaySlot: false, // takvim en üst bölümündeki tüm gün satırını kaldırdık. 
               // firstDay: 0, // default olarak ilk gün pazar olsun bunun eklemeseydik pazartesi ilk gün hangi gündeysek o günden takvimi başlatmak içinde kullanabiliriz
                titleFormat: {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'

                },
                titleRangeSeparator: ' / ', //başlıkta ayraç olarak bunu kullan dedik
                columnHeaderFormat: { //takvim üst kolandaki görünüm ayarları ay ve günü göster
                    //month: 'numeric',
                    weekday: 'long'
                    //day: 'numeric'
                },
                views: {
                    timeGridForFourDay: { //sadece 4 günü göstersin dedik bunu özel olarak oluşturduk.
                        type: 'timeGrid',
                      //dayCount: 4, // bulunduğun tarihten itibaren önündeki 4 günü gösterir gizlenmiş gün varsa onları atlar cumartesi pazarı atlar pazartesiyi gösterir ***
                        duration: {days:4}, //4 dediğimizde bulunduğun tarihten itibaren gizlenmiş gün varsa onları göstermez cuma bakan biri cuma ve pazartesiyi görür
                        buttonText: '4 Gün'
                    }
                },
                customButtons: {
                    getDate: {
                        text: 'date',
                        click: function () {
                            var date = new Date();
                            alert(date);
                        }
                    }
                }
                
                //buttonText: {
                //    today: 'Bugün gün',
                //    month: 'Ay ve ay',
                //    week: 'hafta mı hafta',
                //    day : 'gün gün'
                //}
            });

            calendar.render();
        })
    </script>
}